.p-t15 {
  padding-top: 15px;
}
.p-r15 {
  padding-right: 15px;
}
.p-b15 {
  padding-bottom: 15px;
}
.p-l15 {
  padding-left: 15px;
}
.p-w15 {
  padding-right: 15px;
  padding-left: 15px;
}
.p-y15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.p-t30 {
  padding-top: 30px;
}
.p-r30 {
  padding-right: 30px;
}
.p-b30 {
  padding-bottom: 30px;
}
.p-l30 {
  padding-left: 30px;
}
.p-w30 {
  padding-right: 30px;
  padding-left: 30px;
}
.p-y30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
