<ul class="navigation">
  <li class="navigation-item" *ngFor="let link of links">
    <a
    class="navigation-link text-secondary-normal"
    routerLinkActive="font-weight-bold"
    [routerLink]="link.url">
      {{ link.label }}
    </a>
  </li>
</ul>
