:host{
  display: block;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.navigation-item {
  display: block;
  margin-right: 35px;
}
.navigation-link {
  text-transform: uppercase;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
