:host{
  display: block;
}
.loading-bar {
  width: 200px;
  height: 20px;
  margin: 3rem auto;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.loading-bar-element {
  width: 0;
  height: 20px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
  animation: uiloader .7s ease-out infinite;
}

@keyframes uiloader {
  0% {
    width: 0;
    background-position: 1rem 0;
  }
  100% {
    width: 100%;
    background-position: 0 0;
  }
}
