<h4 class="text-primary">
  <ng-content></ng-content>
</h4>
<ul class="authentication-steps">
  <li *ngFor="let index of steps"
  [ngClass]="{'bg-success':index === step, 'bg-primary': index <= step, 'bg-secondary': index >= step}">
  </li>
</ul>
