:host{
  display: block;
  h4{
    margin-bottom: 20px;
  }
}
.authentication-steps{
  display: flex;
  padding: 0;
  margin-bottom: 38px;
  li{
    display: block;
    width: 50px;
    height: 8px;
    margin-right: 10px;
    border-radius: 10px;
  }
}
