<div class="authentication s-container-w s-container-w--center">
  <div class="row authentication__row">
    <div class="col-lg-6 d-none d-lg-flex authentication__col">
      <div class="authentication__hint">
        <h2 class="h1 text-white">Plan your project</h2>
        <p  class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="col-lg-6 authentication__col">
      <header class="authentication__header">
        <h1>
          <a routerLink="" class="authentication__logo">
            <img src="/assets/images/logo.png" alt="logo">
          </a>
          <small class="text-secondary">
            Architects your dreams
          </small>
        </h1>
      </header>
      <div class="row no-gutters justify-content-center authentication__form">
        <div class="col-lg-6 px-3" [@routeState]="getAnimationData(rOutlet)" style="overflow: hidden">
          <router-outlet #rOutlet="outlet"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
