:host{
  display: block;
  height: 100%;
}
.authentication {
  height: 100%;
  &__row {
    height: 100%;
  }
  &__col {
    height: 100%;
  }
  &__col:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #c5ccd4;
    background-image: linear-gradient(rgba(17, 45, 81, .25), rgba(17, 45, 81, .25)), url("/assets/images/bck-authentication.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  &__hint{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  &__header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    h1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      small{
        font-size: .8rem;
      }
    }
  }
  &__logo {
    display: block;
    img {
      max-width: 10rem;
    }
  }
  &__form{
    height: 65%;
  }
}
