<div class="profile">
  <ng-container *ngIf="(profile$ | async) as profile; else loading;">
    {{profile.email}}
  </ng-container>
  <ng-template #loading>
      <iwdf-ui-loader></iwdf-ui-loader>
  </ng-template>
</div>
