:host {
  display: block;
}
.profile {
  &__masthead {
    display: flex;
    justify-content: flex-end;
  }
  &__h170 {
    height: 170px;
  }
  &__avatar {
    display: flex;
    img {
      display: block;
      width: 120px;
    }
  }
  &__status {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    h3 {
      display: flex;
      align-items: center;
    }
  }
  &__ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__information {
    ul {
      columns: 2;
      column-gap: 50px;
    }
    li {
      padding-bottom: 15px;
    }
  }
}
