:host {
  display: block;
  width: 100%;
}
.welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 35px;
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  h3 {
    text-transform: uppercase;
  }
  p {
    max-width: 500px;
  }
  &__cta {
    max-width: 245px;
  }
}
