<div class="welcome bg-tertiary" *ngIf="hasWelcome">
  <button type="button" class="welcome__close c-close" aria-label="Close" (click)="hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="text-primary h5 text-primary-bold">Congratulation {{account.username}}</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu imperdiet diam. Suspendisse potenti.</p>
  <button type="button" class="welcome__cta btn btn-primary btn-lg btn-block text-uppercase mt-3">
    Complete your profile
  </button>
</div>
