<iwdf-admin-header-main [account]="account"></iwdf-admin-header-main>
<div class="welcome s-container-w s-welcome-pt">
  <iwdf-admin-welcome [account]="account"></iwdf-admin-welcome>
</div>
<div class="outlet s-container-w s-outlet-px s-outlet-pt s-body-bg">
  <router-outlet></router-outlet>
</div>
<iwdf-admin-footer></iwdf-admin-footer>
