<div>
  <iwdf-authentication-steps [numOfSteps]="numOfSteps" [step]="step">
    Company info
  </iwdf-authentication-steps>
  <form [formGroup]="frm">
    <div class="alert alert-danger" role="alert" *ngIf="hasError">
      Something went wrong.Please try again.
    </div>
    <div class="form-group">
      <input type="text" tabindex="1" id="company_name" placeholder="Company Name *"
              class="form-control form-control-lg" formControlName="company_name">
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-link"></i>
          </span>
        </div>
        <input type="text" tabindex="2" id="company_website" placeholder="Website"
              class="form-control form-control-lg" formControlName="company_website">
      </div>
    </div>
    <div class="form-group">
      <input type="text" tabindex="3" id="company_city" placeholder="City *"
            class="form-control form-control-lg" formControlName="company_city">
    </div>
  </form>
</div>
<iwdf-authentication-navbar (back)="onBack($event)" (next)="onNext($event)" [isValid]="frm.valid"></iwdf-authentication-navbar>
