<div class="login">
  <form [formGroup]="frm" (ngSubmit)="onSubmit()" [@formState]="frm.value">
    <div class="alert alert-danger" role="alert" *ngIf="hasError">
      Invalid email or password
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-envelope"></i>
          </span>
        </div>
        <input type="email" tabindex="1" id="email" placeholder="Your Email"
              class="form-control form-control-lg" formControlName="email">
      </div>
    </div>
    <div class="form-group mb-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-key"></i>
          </span>
        </div>
        <input type="password" tabindex="2" id="password" placeholder="Your Password"
            class="form-control form-control-lg" formControlName="password">
      </div>
    </div>
    <div class="row no-gutters align-items-center mb-5">
      <div class="col">
        <a routerLink="/auth/forgotpassword">Forgot password?</a>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-lg btn-block c-btn-uppercase"
                type="submit" [disabled]="frm.invalid || hasSubmitted">
            <iwdf-ui-button-spinner
            [value]="'Login'"
            [has]="hasSubmitted"></iwdf-ui-button-spinner>
        </button>
      </div>
    </div>
    <div class="c-fancy-line mb-5">
      <div class="bg-secondary"></div>
      <span class="text-secondary">OR</span>
      <div class="bg-secondary"></div>
    </div>
    <div class="form-group">
      <button type="button" class="c-btn c-btn-icon c-btn-social c-btn-in">
        <i class="fab fa-linkedin fa-2x"></i>
        <span>Sign in with linkedln</span>
      </button>
    </div>
    <div class="form-group">
      <button type="button" class="c-btn c-btn-icon c-btn-social c-btn-google">
        <i class="fab fa-google fa-2x"></i>
        <span>Sign in with Google</span>
      </button>
    </div>
    <div class="form-group mt-5">
      <p class="text-right">
        You don't have an account?
        <a routerLink="/auth/whoareyou">Create one</a>
      </p>
    </div>
  </form>
</div>
