<div>
  <iwdf-authentication-steps [numOfSteps]="numOfSteps" [step]="step">
    Access info
  </iwdf-authentication-steps>
  <form [formGroup]="frm">
    <div class="alert alert-danger" role="alert" *ngIf="hasError">
      Something went wrong.Please try again.
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-user"></i>
          </span>
        </div>
        <input type="text" tabindex="1" id="username" placeholder="Username *"
              class="form-control form-control-lg" formControlName="username">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-envelope"></i>
          </span>
        </div>
        <input type="email" tabindex="2" id="email" placeholder="Email *"
              class="form-control form-control-lg" formControlName="email">
      </div>
    </div>
    <div class="form-group">
      <iwdf-ui-password [tabindex]="3" formControlName="password"></iwdf-ui-password>
    </div>
  </form>
</div>
<iwdf-authentication-navbar (back)="onBack($event)" (next)="onNext($event)" [isValid]="frm.valid"></iwdf-authentication-navbar>
