<ul class="masthead">
  <li>
    <i class="far fa-user fa-lg"></i>
  </li>
  <li class="ml-4">
    <div iwdfDropdown>
      <button class="c-btn-dropdown" id="dropdownAccount" iwdfDropdownToggle>
        <ul class="masthead__account">
          <li>
            <img class="d-inline-block" class="avatar" class="rounded-circle" src="/assets/images/avatar.jpg" alt="">
          </li>
          <li class="pl-2">
            <span class="d-inline-block">{{account.username}}</span>
          </li>
          <li class="pl-3">
            <i class="fas fa-angle-down"></i>
          </li>
        </ul>
      </button>
      <div iwdfDropdownMenu aria-labelledby="dropdownAccount">
        <ul class="masthead__menu">
          <li class="iwdf-dropdown-item text-secondary">Hello {{account.username}}</li>
          <li class="iwdf-dropdown-item">{{account.role}}</li>
          <li class="iwdf-dropdown-item"><hr /></li>
          <li class="iwdf-dropdown-item">
            <button class="c-btn" (click)="onSettings()">Settings</button>
          </li>
          <li class="iwdf-dropdown-item">
            <button class="c-btn" (click)="onLogout()">Log out</button>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
