:host {
  display: block;
}
.masthead {
  display: flex;
  align-items: center;
  &__account {
    display: flex;
    align-items: center;
    img{
      width: 40px;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
  }
}
