<div class="error">
  <p class="h1 text-white">404 - page not found</p>
  <div class="text-center">
    <a class="btn btn-primary" routerLink="/auth/login">
      Go to login
    </a>
  </div>
</div>
