<div>
  <iwdf-authentication-steps [numOfSteps]="numOfSteps" [step]="step">
    Account Info
  </iwdf-authentication-steps>
  <form [formGroup]="frm">
    <div class="form-group">
      <input type="text" tabindex="1" id="firstname" placeholder="First Name *"
              class="form-control form-control-lg" formControlName="firstname">
    </div>
    <div class="form-group">
      <input type="text" tabindex="2" id="lastname" placeholder="Last Name *"
            class="form-control form-control-lg" formControlName="lastname">
    </div>
  </form>
</div>
<iwdf-authentication-navbar (back)="onBack($event)" (next)="onNext($event)" [isValid]="frm.valid"></iwdf-authentication-navbar>
