<div>
  <form [formGroup]="frm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-envelope"></i>
          </span>
        </div>
        <input type="email" tabindex="1" id="email" placeholder="Email *"
              class="form-control form-control-lg" formControlName="email">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-lg btn-block c-btn-uppercase"
              type="submit" [disabled]="frm.invalid || hasSubmitted">
      Send
      </button>
    </div>
  </form>
</div>
