:host{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.whoareyou {
  display: flex;
  justify-content: space-between;
  padding: 0;
  li{
    display: block;
  }
  div{
    position: relative;
    .badge{
      display: none;
    }
  }
  .active{
    border: 1px solid #ddd;
    .badge{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    i {
      font-size: 2rem;
    }
  }
  .badge {
    position: absolute;
    z-index: 100;
    border: 1px solid trasparent;
    border-radius: 50%;
    animation-name: expande;
    animation-duration: .1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  @keyframes expande {
    0% {
      right: -5px;
      bottom: -5px;
      width: 5px;
      height: 5px;
    }
    100% {
      right: -15px;
      bottom: -15px;
      width: 46px;
      height: 46px;
    }
  }

}
