<div>
  <iwdf-authentication-steps [numOfSteps]="numOfSteps" [step]="0">
    Who are you?
  </iwdf-authentication-steps>
  <ul class="whoareyou">
    <li>
      <div (click)="onSelect('freelancer')" [ngClass]="{'active' : role === 'freelancer'}">
        <button type="button" class="c-btn">
          <i class="far fa-user"></i>
          <span>Freelancer</span>
        </button>
        <span class="bg-primary badge">
          <i class="fas fa-check text-white"></i>
        </span>
      </div>
    </li>
    <li>
      <div (click)="onSelect('company')" [ngClass]="{'active' : role === 'company'}">
        <button type="button" class="c-btn">
          <i class="far fa-building"></i>
          <span>Company</span>
        </button>
        <span class="bg-primary badge">
          <i class="fas fa-check text-white"></i>
        </span>
      </div>
    </li>
  </ul>
</div>
<iwdf-authentication-navbar (back)="onBack($event)" (next)="onNext($event)" [isValid]="isValid"></iwdf-authentication-navbar>
