<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="fas fa-key"></i>
    </span>
  </div>
  <input
  [type]="type"
  [tabindex]="tabindex"
  id="password"
  placeholder="Password *"
  class="form-control form-control-lg" (input)="onInput()" #input>
  <div class="input-group-append" (click)="onToggleShow()">
    <span class="input-group-text">
      <ng-container *ngIf="show; else hide;">
        <i class="far fa-eye"></i>
      </ng-container>
      <ng-template #hide>
        <i class="far fa-eye-slash"></i>
      </ng-template>
    </span>
  </div>
</div>
