@import "./theme/main";

$layout-width: 100% !default;
$layout-admin-padding-w: 145px !default;
$layout-admin-header-masthead-height: 100px !default;
$layout-admin-header-navigation-height: 70px !default;
$layout-admin-features-padding-t: 60px !default;

html,
body{
  height: 100%;
}
.s-body-bg{
  background-color: $body-bg;
}
.s-container-w {
  max-width: $layout-width;
}
.s-container-w--center{
  margin: 0 auto;
}
.s-masthead-h{
  height: $layout-admin-header-masthead-height;
}
.s-navigation-h{
  height: $layout-admin-header-navigation-height;
}
.s-welcome-pt {
  padding-top: $layout-admin-header-masthead-height + $layout-admin-header-navigation-height;
}
.s-outlet-pt{
  padding-top: $layout-admin-header-masthead-height + $layout-admin-header-navigation-height;
}
.s-outlet-px{
  padding-right: $layout-admin-padding-w;
  padding-left: $layout-admin-padding-w;
}
.iwdf-dropdown {
  position: relative;
}
.iwdf-dropdown-toggle {}
.iwdf-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #aeb7c0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
}

.iwdf-dropdown-menu.show {
  display: block;
}
.iwdf-dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
