<ul class="authentication-navbar">
  <li>
    <button type="button"
    class="btn btn-outline-secondary c-btn-uppercase"
    role="button" (click)="onBack()">
      <i class="fas fa-angle-left"></i>
      <span class="d-inline-block ml-3">back</span>
    </button>
  </li>
  <li>
    <button type="button"
    class="btn btn-primary c-btn-uppercase"
    role="button"
    (click)="onSetData()" [disabled]="!isValid">
        <span class="d-inline-block mr-3">next</span>
        <i class="fas fa-angle-right"></i>
    </button>
  </li>
</ul>
