:host {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: block;
  width: 100%;
}
.wrapper{
  margin: 0 auto;
}
.masthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
