<div class="wrapper s-container-w s-outlet-px bg-white border-bottom">
  <div class="masthead s-masthead-h">
    <iwdf-admin-header-brand></iwdf-admin-header-brand>
    <iwdf-admin-header-masthead [account]="account"></iwdf-admin-header-masthead>
  </div>
</div>
<div class="wrapper s-container-w s-outlet-px bg-white">
  <div class="navigation s-navigation-h">
    <iwdf-admin-header-nav></iwdf-admin-header-nav>
    <iwdf-admin-header-bar></iwdf-admin-header-bar>
  </div>
</div>
